{% extends 'base.html'%}
{% block content%}
<div style="margin-top: 50px; text-align: center;  justify-self: center;
    background-color: rgb(198, 182, 182);
    border-radius: 20px;
    padding: 5px;
    margin-top: 20px;
    width: 700px;" >
<form method="post" enctype="multipart/form-data">
    
    <p>
    {{ form.title.label }}<br>
    {{ form.title(size=30) }}
    </p>
    <p>
    {{ form.content.label }}<br>
    {{ form.content(size=30) }}
    </p>
    <p>
    {{ form.image.label }}<br>
    {{ form.image(size=30) }}
    </p>
    
    <button type="submit" style = "width: 100px; height: 25px;">Add blog</button>
</div>
{% endblock %}