{% extends 'base.html' %}

{% block content %}
<form action="" method="post">
    {{ form.csrf_token }}

    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=30) }}
        {% if form.username.errors %}
            {% for error in form.username.errors %}
                <span style="color: red; display: block;">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </p>

    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=30) }}
        {% if form.password.errors %}
            {% for error in form.password.errors %}
                <span style="color: red; display: block;">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </p>

    <p>{{ form.submit() }}</p>
</form>
{% endblock %}