{%extends 'base.html'%}
{% block content%}
<h1>Update Blog Post</h1>

    <form method="POST" action="" enctype="multipart/form-data">
        
        {{ form.hidden_tag() }}

        <div>
            {{ form.title.label }}<br>
            {{ form.title(class="form-control") }}
        </div>
        <br>

        <div>
            {{ form.content.label }}<br>
            {{ form.content(rows=10, cols=50) }}
        </div>
        <br>

        <div>
            <label for="Blog_image">Current/New Image:</label><br>
            <input type="file" name="Blog_image" id="Blog_image">
        </div>
        <br>

        <div>
            {{ form.submit(style="width: 100px; height: 25px;") }}
        </div>
    </form>
{%endblock%}
